server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/SeguOostdijk/config-server-test.git
          searchPaths: config-data
          username: ${GIT_USER}
          password: ${GIT_PASSWORD}
  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka
