server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/SeguOostdijk/repo-config-server.git
          searchPaths: config-data
          username: ${GIT_USER}
          password: ${GIT_PASSWORD}